@page
@model MyResumeModel
@{
}

<h1>Jim March</h1>

<address>
    Sometown, NY 55555 | 
    555-555-5555 | 
    <a href="mailto:jm@example.com">jm@example.com</a>
</address>

<hr />

<h2>Web Developer</h2>

<p>
    Creative web developer dedicated to building 
    and optimizing the performance of user-centric, 
    high-impact websites for nationwide, F500 and global 
    companies. Leverage technical, analytical and 
    problem-solving skills to create dynamic, high-speed 
    websites, apps and platforms fueling competitive 
    advantage and revenue growth.
</p>

<h3>Expertise</h3>

<ul>
    <ul>Web Development</ul>
    <ul>Coding &amp; Programming</ul>
    <ul>Search Engine Optimization</ul>
    <ul>Cross-Browser Compatibility</ul>
    <ul>Site Troubleshooting</ul>
    <ul>UX &amp; UI Design</ul>
    <ul>Agile Methodologies</ul>
    <ul>Hosting &amp; Maintenance</ul>
    <ul>Digital &amp; eCommerce Strategy</ul>
    <ul>CRM &amp; CMS Platforms</ul>
    <ul>Information Architecture</ul>
    <ul>Multimedia Design</ul>
    <ul>Professional Experience</ul>
</ul>

<hr />

<h3>ABC AGENCY, INC. - Sometown, NY • Web Developer, 2013 to Present</h3>

<p>
    Work collaboratively with clients and in-house agency teams to provide 
    rapid, robust and client-acclaimed front- and back-end web development 
    optimizing user experience, search engine ranking, sales, 
    brand positioning and related metrics.
</p>

<h4>Representative Projects &amp; Results:</h4>

<p>
    <strong>Global Cosmetics Company:</strong> Developed API platform for segmentation, personalized
    recommendations and omni-channel messaging that reduced cart-abandonment rate by 
    37%, leading to a $1.25M increase in online sales within 90 days of solution launch.
</p>

<p>
    <strong>Pharmaceutical Manufacturer:</strong> Led front-end development and assisted with back-end programming 
    for website overhaul. Ensured the technical feasibility and optimum functioning of design 
    features that accelerated load-time by 17% and improved site stickiness by 21%.
</p>

<p>
    <strong>NYC Real Estate Firm:</strong> Increased web traffic 125% by improving navigation, creating 
    dynamic media sections, introducing virtual tours and adding social media plugins.
</p>

<p>
    <strong>Luxury Resort Hotel Group:</strong> Developed SEO strategy as well as seamless interface 
    with travel booking sites that resulted in top 5 rankings on Google, Bing and Yahoo! coupled with 
    a 22% increase in annual sales from Expedia, Hotels.com, Hotwire and Trivago.

    <br />

    <strong>Restaurant Chain:</strong> Contributed to mobile app development and resolved issues causing 
    site crashes, elevating uptime to 99%. Efforts were key to a 27% increase in eCommerce sales.
 </p>

<h3>DEF AGENCY, INC. — Sometown, NY • WordPress Web Developer Intern, 2012 to 2013</h3>

<p>
    Worked with award-winning developers to create and update WordPress sites. Optimized 
    sites for usability, search engine optimization and accessibility. Partnered with 
    marketing department to continually perfect client pitches. Offered job at conclusion of 
    internship (declined to pursue web developer opportunity at ABC Agency).
</p>

<hr />

<h3>Education</h3>

<div>
    <strong>SOMETOWN UNIVERSITY</strong> Bachelor of Applied Science in Internet and Web Development
</div>
<div>
    <strong>OTHERTOWN HIGH SCHOOL</strong> 4.0 overall GPA, team captain of the chess club
</div>

<hr />

<h3>Technology Summary (complete list on request)</h3>

<p>
    HTML5; XHTML; CSS3; JavaScript; jQuery; PHP; SQL; Bootstrap; .NET; ActionScript; Adobe Creative Cloud; 
    WordPress; Google Analytics; AJAX; CMS Tools; ColdFusion; Windows; Mac; iOS; Android
</p>