@page
@model The3rdWishToRockTheWorldModel
@{
}

<h1>The 3rd Wish: To Rock the World</h1>
<a href="https://en.wikipedia.org/wiki/The_3rd_Wish:_To_Rock_the_World">
    https://en.wikipedia.org/wiki/The_3rd_Wish:_To_Rock_the_World
</a>
<hr />

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/89/SPM3rdWish.jpg/220px-SPM3rdWish.jpg" alt="The 3rd Wish">

<p>
    <strong><em>The 3rd Wish: To Rock the World</em></strong> sometimes just called The <strong>3rd Wish</strong> 
    is the fourth solo studio album by American hip hop recording artist 
    <a href="https://en.wikipedia.org/wiki/South_Park_Mexican">South Park Mexican</a>. It was released 
    on November 23, 1999 via <a href="https://en.wikipedia.org/wiki/Dope_House_Records">Dope House Records</a>.
</p>

<h2>Local success</h2>
<p>
    The <em>3rd Wish</em> was a <a href="https://en.wikipedia.org/wiki/Houston">Houston</a> area hit, with 
    the single "High So High" gaining much local 
    buzz and even charting at #50 on the <a href="https://en.wikipedia.org/wiki/Billboard_(magazine)">Billboard</a>
     Hot Rap Tracks chart. The 3rd Wish is Coy's first album to chart, peaking at #89 on the 
     <a href="https://en.wikipedia.org/wiki/Top_R%26B/Hip-Hop_Albums">Top R&B/Hip-Hop Albums</a> with 60,000 copies sold 
    in the first week released. This eventually lead to SPM signing a joint venture between his 
    label and <a href="https://en.wikipedia.org/wiki/Universal_Music_Group">Universal Music Group</a> in 2000 
    which earned him a $500,000 advance and national distribution.
</p>

<h2>Reception</h2>
<p>
    "Rapper SPM acknowledges a past as a drug dealer, and that former occupation continues to inform 
    his approach to his current career, from the name of his record label, Dope House, to the subject 
    matter of his raps. His is a world of crime and retribution, expressed in language laced with the 
    usual epithets and expletives. The raps are slower and more deliberate, the music more melodic than 
    most other rap, and there are occasional surprises. 'Land of The Lost' is a melodramatic narrative 
    that looks back with regret, while 'Miss Perfect' is a love rap, an unabashed tribute to SPM's wife. 
    Like other rap label heads, the artist uses his own albums to introduce other rappers on his label. 
    In fact, the album is basically a label sampler, featuring 23 rappers and groups in addition to SPM 
    himself and containing tracks from upcoming Dope House releases. Four of the 16 tracks don't even 
    feature the artist. Nevertheless, he remains the most distinctive presence on the album, and his 
    perspective, while including much of the standard-issue opinions and expressions of the genre, is 
    individual enough to be distinctive." ~ William Ruhlman
</p>

<h2>Track Listing</h2>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Producer(s)</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>"High So High" (featuring Marilyn Rylander)</td>
            <td>Randy "Shadow" Ramirez</td>
            <td>3:51</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>"Latin Throne" (featuring Marilyn Rylander)</td>
            <td>Sammy "The Magician" Huen</td>
            <td>4:19</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>"The 3rd Wish" (featuring Marilyn Rylander)</td>
            <td>2-Tone</td>
            <td>5:31</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>"Loyal Customers" (featuring Rasheed)</td>
            <td>Randy Jefferson</td>
            <td>3:31</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>"Creep With Me" (Performed by Guero, Lex, Lil D & Smoke Dogg)</td>
            <td>Happy Perez</td>
            <td>4:13</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>"Thug Girl" (featuring Low-G & Pimpstress)</td>
            <td>Randy "Shadow" Ramirez</td>
            <td>4:29</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>"Wiggy Wiggy" (featuring Baby Beesh)</td>
            <td>Delwin "Mad Reel" Bell</td>
            <td>4:35</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>"Mi Ruka" (Performed by Low-G)</td>
            <td>Happy Perez</td>
            <td>3:35</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>"Land of the Lost" (featuring Marilyn Rylander)</td>
            <td>Hotan Kheyrandish</td>
            <td>4:03</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>"Reminisce" (Performed by Rasheed)</td>
            <td>Mario B</td>
            <td>4:07</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>"Hillwood Hustlaz" (featuring Grimm & Rasheed)</td>
            <td>Delwin "Mad Reel" Bell</td>
            <td>4:08</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>"Who's Over There?" (featuring Low-G & Marilyn Rylander)</td>
            <td>Happy Perez</td>
            <td>4:51</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>"Miss Perfect" (featuring Ikeman)</td>
            <td>Hotan Kheyrandish</td>
            <td>4:01</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>"Ballaticians" (Performed by Grimm & Rasheed)</td>
            <td>Mario Ayala</td>
            <td>4:49</td>
        </tr>
        <tr>
            <td>15.</td>
            <td>"Don't Hide It" (featuring Grimm, Ikeman & Lil Bing)</td>
            <td>Happy Perez</td>
            <td>3:24</td>
        </tr>
        <tr>
            <td>16.</td>
            <td>"Valley" (featuring Ace Deuce, Grimm, LT, Mike Littles, Monster, Pancho Villa, Pimpstress, Rasheed, Skrilla, Shoe Lace, Star Baby & Ikeman)</td>
            <td>Randy "Shadow" Ramirez</td>
            <td>10:06</td>
        </tr>
    </tbody>
</table>

<h2>References</h2>
<ol>
    <li>Ruhlmann, William (2011). "3rd Wish to Rock the World - South Park Mexican | AllMusic". AllMusic. Retrieved 28 June 2011.</li>
    <li>"SPM Chart History (Top R&B/Hip-Hop Albums)". Billboard. Retrieved August 23, 2018.</li>
    <li>"SPM Chart History (Independent Albums)". Billboard. Retrieved August 23, 2018.</li>
    <li>"SPM Chart History (Heatseekers Albums)". Billboard. Retrieved August 23, 2018.</li>
</ol>